API_DOMAIN=api.cloudm.fun
ACME_EMAIL=admin@cloudm.fun

POSTGRES_DB=cloudm
POSTGRES_USER=cloudm
POSTGRES_PASSWORD=change_me
REDIS_MAXMEMORY=256mb

Jwt__Key=change_me_to_a_long_random_secret
EmailVerification__OtpPepper=replace_with_email_verification_otp_pepper

Email__Provider=Resend
Email__FromEmail=noreply@send.cloudm.fun
Email__ResendApiKey=replace_with_resend_api_key

Cloudinary__CloudName=replace_with_cloudinary_cloud_name
Cloudinary__ApiKey=replace_with_cloudinary_api_key
Cloudinary__ApiSecret=replace_with_cloudinary_api_secret

ExternalAuth__Google__AllowedClientIds__0=replace_with_google_client_id

Cors__AllowedOrigins__0=https://cloudm.fun
Cors__AllowedOrigins__1=https://www.cloudm.fun
