# Build folders
bin/
obj/
Debug/
Release/

# NuGet
*.nupkg
packages/
*.nuget.props
*.nuget.targets

# Logs
*.log

# Others
*.db
*.DS_Store

# Sensitive Files
SocialNetwork.API/appsettings.Development.json
SocialNetwork.API/appsettings.Local.json
*.txt
!README.md
!SocialNetwork.API/SocialNetwork.API.http
